<nav>
    <!-- <div>
        <a href="/"><h1>NPI Checklist</h1></a>
    </div> -->
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/checklist/about">About</a></li>
        <li><a href="/checklist/create">New Task</a></li>
    </ul>
</nav>
