<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./support_templates/head.ejs') %>
<body>

    <%- include('./support_templates/nav.ejs') %>

    <div class="not-found-content">
        <h1>404 - NOT FOUND</h1>
    </div>
    

    <!-- Footer -->
    <%- include('./support_templates/footer.ejs') %>
</body>
</html>