<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./support_templates/head.ejs') %>
<body>

    <%- include('./support_templates/nav.ejs') %>

    <div class="about-content">
        <h1>This is an about page</h1>
    </div>
    
    <!-- Footer -->
    <%- include('./support_templates/footer.ejs') %>
</body>
</html>